
.settings/org.eclipse.jdt.core.prefs

.svn/entries

.svn/format

bin/classes.dex

bin/AndroidManifest.xml

bin/classes/com/hp/voice/BuildConfig.class

bin/classes/com/hp/voice/HPMainActivity.class

bin/classes/com/hp/voice/HPMainActivity$1.class

bin/classes/com/hp/voice/HPMainActivity$2.class

bin/classes/com/hp/voice/R.class

bin/classes/com/hp/voice/R$array.class

bin/classes/com/hp/voice/R$attr.class

bin/classes/com/hp/voice/R$color.class

bin/classes/com/hp/voice/R$dimen.class

bin/classes/com/hp/voice/R$drawable.class

bin/classes/com/hp/voice/R$id.class

bin/classes/com/hp/voice/R$layout.class

bin/classes/com/hp/voice/R$string.class

bin/classes/com/hp/voice/R$style.class

bin/classes/com/hp/voice/R$xml.class

bin/classes/com/hp/voice/ui/HPMainActivity.class

bin/classes/com/hp/voice/ui/HPMainActivity$1.class

bin/classes/com/hp/voice/ui/IatSettings.class

bin/classes/com/hp/voice/ui/SpeechApp.class

bin/classes/com/hp/voice/ui/util/HanziToPinyin.class

bin/classes/com/hp/voice/ui/util/HanziToPinyin$Token.class

bin/classes/com/hp/voice/ui/util/JsonParser.class

*.class

bin/dexedLibs/android-support-v4-c6502ba287c6102ddb6e9a3b32149272.jar

bin/dexedLibs/Msc-f63df3f90a563f5182e503e344c535db.jar

bin/jarlist.cache

bin/res/crunch/drawable-hdpi/hp_ic_launcher.png

bin/res/crunch/drawable-hdpi/setting_p.png

bin/res/crunch/drawable-xhdpi/de.png

bin/res/crunch/drawable-xhdpi/dj.png

bin/res/crunch/drawable-xhdpi/db.png

bin/res/crunch/drawable-xhdpi/dl.png

bin/res/crunch/drawable-xhdpi/dq.png

bin/res/crunch/drawable-xhdpi/ds.png

bin/res/crunch/drawable-xhdpi/dshi.png

bin/res/crunch/drawable-xhdpi/dsi.png

bin/res/crunch/drawable-xhdpi/dw.png

bin/res/crunch/drawable-xhdpi/dy.png

bin/res/crunch/drawable-xhdpi/hp_bg_button.png

bin/res/crunch/drawable-xhdpi/hp_ic_launcher.png

bin/res/crunch/drawable-xhdpi/xb.png

bin/res/crunch/drawable-xhdpi/xe.png

bin/res/crunch/drawable-xhdpi/xj.png

bin/res/crunch/drawable-xhdpi/xl.png

bin/res/crunch/drawable-xhdpi/xq.png

bin/res/crunch/drawable-xhdpi/xs.png

bin/res/crunch/drawable-xhdpi/xshi.png

bin/res/crunch/drawable-xhdpi/xsi.png

bin/res/crunch/drawable-xhdpi/xw.png

bin/res/crunch/drawable-xhdpi/xy.png

bin/res/crunch/drawable-xxhdpi/hp_ic_launcher.png

bin/resources.ap_

bin/VoiceBridge.apk

gen/com/hp/voice/BuildConfig.java

gen/com/hp/voice/R.java

bin/res/crunch/drawable-hdpi/setting.png

bin/res/crunch/drawable-mdpi/hp_ic_launcher.png

bin/res/crunch/drawable-xhdpi/hp_bg_activity.png
